section{
    height: 100vh;
}
section:nth-child(1){
    background-color: yellow;
    background-image: url(https://images.unsplash.com/photo-1626814026160-2237a95fc5a0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    box-shadow: inset 0 0 150px black, inset 0 0 150px black, inset 0 0 150px black, inset 0 0 150px black;
}
section:nth-child(2){
    background-color: orange;
}
section:nth-child(3){
    background-color: blue;
}
section:nth-child(4){
    background-color: skyblue;
}
section:nth-child(5){
    background-color: black;
}
.login-container{
    display: flex;
    justify-content: flex-end;
    padding: 100px;
    gap: 10px;    
}
.login-container select{
    padding: 10px;
}
.login-container button{
    padding: 10px 20px;
}
.main-search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.main-search-container h1{
    font-size: 100px;
    color: red;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black,0 0 5px black, 0 0 5px black;

}
.main-search-container p:nth-of-type(1){
    font-size: 50px;
    font-family: "Nanum Gothic , sans-serif";
    color: white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px;
    text-align: center;

}
.main-search-container p:nth-of-type(2){
    font-size: 33px;
    font-family: "Nanum Gothic , sans-serif";
    color: white;
    font-weight: bold;
}
.main-search-container p:nth-of-type(3){
    font-size: 24px;
    font-family: "Nanum Gothic , sans-serif";
    color: white;
}
.main-search-container form{
    width: 50%;
    height: 50px;
    display: grid;
    grid-template-columns: 70% 30%;
}
#search{
    text-indent: 1em;
}
#search + button{
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
}
#search:focus::placeholder{
    margin-top: -50px;
}